In [1]:
# importing the required libraries
import pandas as pd

#loading the given dataset
df=pd.read_csv('online_shoppers_intention.csv')
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [2]:
df.shape

(12330, 18)

In [3]:
df.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000
mean,2.315166,80.818611,0.503569,34.472398,31.731468,1194.746220,0.022191,0.043073,5.889258,0.061427,2.124006,2.357097,3.147364,4.069586
std,3.321784,176.779107,1.270156,140.749294,44.475503,1913.669288,0.048488,0.048597,18.568437,0.198917,0.911325,1.717277,2.401591,4.025169
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,7.000000,184.137500,0.000000,0.014286,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000
50%,1.000000,7.500000,0.000000,0.000000,18.000000,598.936905,0.003112,0.025156,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000
75%,4.000000,93.256250,0.000000,0.000000,38.000000,1464.157214,0.016813,0.050000,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000
max,27.000000,3398.750000,24.000000,2549.375000,705.000000,63973.522230,0.200000,0.200000,361.763742,1.000000,8.000000,13.000000,9.000000,20.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

In [5]:
# checking for duplicate records
df[df.duplicated()].shape

(125, 18)

In [6]:
# droping duplicate records
df=df.drop_duplicates()
df[df.duplicated()].shape

(0, 18)

In [7]:
# checking for null values
df.isnull().sum()

Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

In [8]:
df.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

In [9]:
# checking the distinct count of value in each catogorical column
for col in df.dtypes.index:
    if df[col].dtype == 'object':
        print("total unique count in col {}".format(col),df[col].nunique())

total unique count in col Month 10
total unique count in col VisitorType 3

In [10]:
# Checking unique values in Month column
df['Month'].unique()

array(['Feb', 'Mar', 'May', 'Oct', 'June', 'Jul', 'Aug', 'Nov', 'Sep',
       'Dec'], dtype=object)

In [11]:
# Checking unique values in VisitorType column
df['VisitorType'].unique()

array(['Returning_Visitor', 'New_Visitor', 'Other'], dtype=object)

In [12]:
# applying Label encoding to Month column
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()
df['Month']=encoder.fit_transform(df['Month'])
df['Month']

0        2
1        2
2        2
3        2
4        2
        ..
12325    1
12326    7
12327    7
12328    7
12329    7
Name: Month, Length: 12205, dtype: int32

In [13]:
import pandas as pd
import numpy as np

# applying One_Hot_encoding to VisitorType column
df_encoded=pd.get_dummies(df, columns=['VisitorType'])
df_encoded.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,Weekend,Revenue,VisitorType_New_Visitor,VisitorType_Other,VisitorType_Returning_Visitor
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,1,1,1,1,False,False,0,0,1
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,2,2,2,1,2,False,False,0,0,1
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,4,1,9,3,False,False,0,0,1
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,2,3,2,2,4,False,False,0,0,1
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,2,3,3,1,4,True,False,0,0,1

In [14]:
df_encoded['Weekend']=df_encoded['Weekend'].astype(int)
#df_encoded['Weekend']=df_encoded['Weekend'].replace('False',0,inplace=True)
df_encoded['Weekend'].head()

0    0
1    0
2    0
3    0
4    1
Name: Weekend, dtype: int32

In [15]:
# Identifing the target variable or dependent variable
df_encoded['Revenue']=df_encoded['Revenue'].astype(int)
y=df_encoded['Revenue']
y

0        0
1        0
2        0
3        0
4        0
        ..
12325    0
12326    0
12327    0
12328    0
12329    0
Name: Revenue, Length: 12205, dtype: int32

In [16]:
# Removing target variable from feature set
x=df_encoded.drop('Revenue',axis=1)
x.columns

Index(['Administrative', 'Administrative_Duration', 'Informational',
       'Informational_Duration', 'ProductRelated', 'ProductRelated_Duration',
       'BounceRates', 'ExitRates', 'PageValues', 'SpecialDay', 'Month',
       'OperatingSystems', 'Browser', 'Region', 'TrafficType', 'Weekend',
       'VisitorType_New_Visitor', 'VisitorType_Other',
       'VisitorType_Returning_Visitor'],
      dtype='object')

In [17]:
#Feature Selection
from sklearn.feature_selection import SelectFromModel
from sklearn.tree import DecisionTreeRegressor
features=SelectFromModel(DecisionTreeRegressor()).fit(x,y)

In [18]:
features=features.get_feature_names_out()
features

array(['Administrative_Duration', 'ProductRelated',
       'ProductRelated_Duration', 'BounceRates', 'ExitRates',
       'PageValues'], dtype=object)

In [19]:
df_encoded.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,Weekend,Revenue,VisitorType_New_Visitor,VisitorType_Other,VisitorType_Returning_Visitor
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,1,1,1,1,0,0,0,0,1
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,2,2,2,1,2,0,0,0,0,1
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,4,1,9,3,0,0,0,0,1
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,2,3,2,2,4,0,0,0,0,1
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,2,3,3,1,4,1,0,0,0,1

In [20]:
y=df_encoded['Revenue']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Revenue, dtype: int32

In [21]:
X=df_encoded.drop(['Administrative','Revenue','Informational','Informational_Duration','SpecialDay','Month','OperatingSystems','Browser','Region','TrafficType','Weekend','VisitorType_New_Visitor','VisitorType_Other','VisitorType_Returning_Visitor'],axis=1)
X.head()

,Administrative_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues
0,0.0,1,0.000000,0.20,0.20,0.0
1,0.0,2,64.000000,0.00,0.10,0.0
2,0.0,1,0.000000,0.20,0.20,0.0
3,0.0,2,2.666667,0.05,0.14,0.0
4,0.0,10,627.500000,0.02,0.05,0.0

In [22]:
#using train_test_split() to create the train and test dataset of our desired proportions.

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [23]:
# create model
from sklearn.tree import DecisionTreeRegressor
dt_reg=DecisionTreeRegressor()
dt_reg.fit(X_train,y_train)

DecisionTreeRegressor()

In [24]:
# Predicting on test data and train data
y_test_pred=dt_reg.predict(X_test)
y_test_pred

array([0.        , 1.        , 0.        , ..., 0.00311526, 0.00311526,
       1.        ])

In [25]:
print("Train Score:",dt_reg.score(X_train,y_train))
print("Test Score:",dt_reg.score(X_test,y_test))

Train Score: 0.9981058983252472
Test Score: -0.21303275740257543

In [26]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
# Make predictions on the testing set
y_test_pred = dt_reg.predict(X_test)

# Calculate evaluation metrics
mse = mean_squared_error(y_test, y_test_pred)
r2 = r2_score(y_test, y_test_pred)

# Print the evaluation metrics
print("Mean Squared Error (MSE):", mse)
print("R-squared (R2):", r2)

Mean Squared Error (MSE): 0.1532145570583616
R-squared (R2): -0.21303275740257543

In [27]:
# Make predictions on the training set
y_train_pred = dt_reg.predict(X_train)

# Calculate evaluation metrics
mse = mean_squared_error(y_train, y_train_pred)
r2 = r2_score(y_train, y_train_pred)

# Print the evaluation metrics
print("Mean Squared Error (MSE):", mse)
print("R-squared (R2):", r2)

Mean Squared Error (MSE): 0.00025241977372863204
R-squared (R2): 0.9981058983252472

In [28]:
paras = {
    'criterion':['squared_error','absolute_error', 'poisson'],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
}

In [29]:
#Fine tuning parameters
from sklearn.model_selection import GridSearchCV
grid_search = GridSearchCV(DecisionTreeRegressor(), paras)

In [30]:
grid_search.fit(X_train,y_train)

GridSearchCV(estimator=DecisionTreeRegressor(),
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'poisson'],
                         'max_depth': [None, 5, 10],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10]})

In [31]:
grid_search.best_params_

{'criterion': 'poisson',
 'max_depth': 5,
 'min_samples_leaf': 4,
 'min_samples_split': 2}

In [32]:
#create model using best paramaters
from sklearn.tree import DecisionTreeRegressor
dt_reg=DecisionTreeRegressor(criterion= 'poisson', max_depth= 4,min_samples_leaf=4, min_samples_split=2, random_state= 42)
model=dt_reg.fit(X_train,y_train)

In [33]:
# Calculate evaluation metrics
mse = mean_squared_error(y_test, y_test_pred)
r2 = r2_score(y_test, y_test_pred)

# Print the evaluation metrics
print("Mean Squared Error (MSE):", mse)
print("R-squared (R2):", r2)

Mean Squared Error (MSE): 0.1532145570583616
R-squared (R2): -0.21303275740257543

In [35]:
# Make predictions on the testing set with the fine-tuned model
y_test_pred = model.predict(X_test)
y_test_pred

array([0.03366584, 0.68085106, 0.00560448, ..., 0.00560448, 0.00560448,
       0.03366584])

In [36]:
import pickle

In [38]:
filename='final_model.pickle'
pickle.dump(model,open(filename,'wb'))

In [39]:
loaded_model=pickle.load(open(filename,'rb'))
a=loaded_model.predict(X_test)
a

array([0.03366584, 0.68085106, 0.00560448, ..., 0.00560448, 0.00560448,
       0.03366584])